{% extends '_layout.njk' %}
{% import '_macro/sidebar.njk' as sidebar_template with context %}

{% block title %}{{ page.title }} | {{ title }}{% endblock %}

{% block class %}post posts-expand{% endblock %}

<style>.description-for-homepage-only{display:none;}</style>

{% block content %}

  {{ partial('_macro/post.njk', {post: page}) }}

{% endblock %}

  
  <div class="email-container">
  <p class="ec-lead">Subscribe to the latest post with email. It's free.</p>
    <script async data-uid="a5b6dbb174" src="https://5dbwat4.kit.com/a5b6dbb174/index.js"></script>
  <style>  .email-container{ border: 1px solid #e1e1e1ff; padding: 20px; border-radius: 5px; 
  width: 80%; margin: 0 auto; margin-top: 30px; margin-bottom: 30px; background: #f9f9f9ff; }
  .ec-lead{ font-size: 1.2em; margin-bottom: 10px; text-align: center; font-weight: bold; }
  .ec-ref{ font-size: 0.9em; text-align: center; }

  </style>
  <p class="ec-ref">Newsletter powered by <a href="https://kit.com">ConvertKit</a></p>
  </div>



{% block sidebar %}
  {{ sidebar_template.render(page.toc.enable) }}
{% endblock %}
